<p id="notice"><%= notice %></p>

<p>
  <strong>School:</strong>
  <%= link_to @faculty.school.name, @faculty.school %>
</p>

<p>
  <strong>Name:</strong>
  <%= @faculty.name %>
</p>

<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
